#navBar-webName {
    display: flex;
    align-items: center;

    .name {
        z-index: 1;
    }

    .icon {
        width: 30px;
    }

    .spanIc-logo {
        position: relative;
        right: 28px;
        z-index: 0;
        animation: linear infinite alternate;
        animation-name: levitate;
        animation-duration: 5s;
        -webkit-animation: linear infinite alternate;
        -webkit-animation-name: levitate;
        -webkit-animation-duration: 5s;
    }
}

.navbar {
    width: 100%;
    z-index: 1;

    #navbar_row {
        width: 100%;
    }

    .container-fluid .col,
    .spIcon>span,
    .custom-control-label::before,
    .custom-control-label::after {
        display: inline-flex;
        align-items: center;
    }

    .navButton {
        margin-right: 15px;

        .nav-link {
            display: inline-flex;
            align-items: center;

            .navText {
                width: max-content;
            }

            span {
                display: inline-flex;
                align-items: center;
            }
        }
    }

    .ic-home,
    .ic-contact,
    .ic-info,
    .ic-search,
    .ic-comment,
    .ic-menu {
        display: inline-flex;
        align-items: center;
        fill: white;
        margin-left: 5px;
    }
}



// Animation
@keyframes levitate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    50% {
        transform: rotate(5deg) translate(0px, 3px);
    }

    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@-webkit-keyframes levitate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    50% {
        transform: rotate(5deg) translate(0px, 3px);
    }

    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}