#navBar-webName {
    display: flex;
    align-items: center;

    .name {
        z-index: 1;
    }

    .icon {
        width: 30px;
        position: relative;
        right: 28px;
        z-index: 0;
        animation: linear infinite alternate;
        animation-name: levitate;
        animation-duration: 5s;
        -webkit-animation: linear infinite alternate;
        -webkit-animation-name: levitate;
        -webkit-animation-duration: 5s;
    }
}

.navbar {
    .navButton {
        margin-right: 15px;

        .nav-link {
            display: inline-flex;
            align-items: center;

            span {
                display: inline-flex;
                align-items: center;
            }
        }
    }

    .dropdownLanguageSelector {
        margin-right: 10px;

        #dropdown-basic-button {
            width: 100px;
        }
    }

    .searchBtn {
        width: 100px;
        display: inline-flex;
        align-items: center;

        span {
            display: inline-flex;
            align-items: center;
        }
    }



    .ic-home,
    .ic-contact,
    .ic-info,
    .ic-search {
        display: inline-flex;
        align-items: center;
        fill: white;
        margin-left: 5px;
    }

    .switchLights {
        color: white;
        margin-right: 10px;
        width: 85px;

        .custom-control-label {
            position: absolute;
            left: 63px;
        }

        .custom-control-input.is-invalid:checked~.custom-control-label::before,
        .was-validated .custom-control-input:invalid:checked~.custom-control-label::before {
            border-color: #797979;
            background-color: #797979;
        }
    }

    .spanIc-moon {
        position: absolute;
        right: 0px;
    }

    .spanIc-sun {
        position: absolute;
        left: 0px;
    }
}



// Animation
@keyframes levitate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    50% {
        transform: rotate(5deg) translate(0px, 3px);
    }

    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@-webkit-keyframes levitate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    50% {
        transform: rotate(5deg) translate(0px, 3px);
    }

    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}