@import "src/styles/_variables.scss";

.navbar {
    .navBarMenu {
        position: relative;

        .spanIc-menu {
            z-index: 1;
            position: absolute;
            left: 5px;
            top: 9px;
            pointer-events: none;
        }

        .dropdownNavbarMenu>.dropdown-toggle:after {
            display: none;
        }

        .dropdownNavbarMenu>#dropdown-navbarMenu {
            width: 40px;
            height: 40px;
            background-color: #007bff00;
            border-color: #717171;
        }

        .dropdownNavbarMenu {
            .dropdown-menu {
                background-color: $black20;
                text-align: center;
            }
        }
    }

    .dropdownLanguageSelector {
        margin-right: 10px;

        #dropdown-basic-button {
            width: 100px;
        }
    }

    .searchBar>div {
        display: inline-flex;

    }

    .searchBar {
        .searchBtn {
            width: 125px;
        }
    }

    .switchLights {
        color: white;
        margin-right: 10px;
        width: 85px;
        display: inline-flex;
        align-items: center;

        .spIcon {
            display: inline-flex;
        }

        .custom-control-label {
            position: absolute;
            left: 63px;
            height: 100%;
        }

        .custom-control-input.is-invalid:checked~.custom-control-label::before,
        .was-validated .custom-control-input:invalid:checked~.custom-control-label::before {
            border-color: #797979;
            background-color: #797979;
        }
    }

    .spanIc-moon {
        position: absolute;
        right: 0px;
    }

    .spanIc-sun {
        position: absolute;
        left: 0px;
    }
}