@import "src/styles/_variables.scss";

.App-header {
  min-height: 94vh;
  padding: 16px;
  
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

#reactV {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: 0.7rem;
}