@import "src/styles/_variables.scss";

.form-group {

    input,
    select,
    textarea {
        width: 270px;
    }
}

.nightMode .comment {
    background-color: $white10opac;
    color: $black10;
}

.lightMode .comment {
    background-color: $black10opac;
    color: $white10;
}

.comment {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    position: relative;

    .comment_userName {
        font-weight: 600;
        margin-left: 5px;
    }

    .comment_avatar {
        display: inline-block;

        .spIcon {
            display: inline-block;
            box-sizing: content-box;
        }
    }

    .comment_time {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 0.8em;


        .comment_date,
        .comment_hour {
            display: block;
        }

        .comment_hour {
            float: right;
        }
    }


    .comment_message {
        margin-top: 5px;
    }
}

.device-android,
.device-ios {
    .comment {
        width: 100%;
    }
}